@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <label asp-for="Activity.Type"></label>
        <select asp-for="Activity.Type" asp-items="Model.ActivityTypes">
        <option value="">-- Välj aktivitetstyp --</option>
        </select>
        <br />
        <label asp-for="Activity.Name"></label>
        <input asp-for="Activity.Name" />
        <br />
        <label asp-for="Activity.Distance"></label>
        <input asp-for="Activity.Distance" />
        <br />
        <input type="submit" value="Lägg till aktivitet" />
    </form>
    @* <div>
        <div>
            <label>Aktivitetsnamn: </label>
            <input type="text" />
        </div>
        <div>
            <label>Distans: </label>
            <input type="number" />
        </div>
        <div>
            <button type="submit">Spara aktivitet</button>
        </div>
        
    </div> *@
    
</div>
