@page
@model TrainingTracker.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div class ="settings-background">

    <div class="settings-panel">

        <h1 class="settings-title">Settings</h1>
        <p class="settings-intro">
            Adjust your preferences below.
        </p>


        <form method="post">

            <input asp-for="UserSettings.Name" type="hidden" />
            <div class="mb-2">
                <input asp-for="UserSettings.Name"
                       class="form-control settings-input"
                       placeholder="Name" />
        </form>

    </div>

</div>



@section Styles {
    <link rel="stylesheet" href="~/css/settings.css" />
}