@page
@model TrainingTracker.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div class ="settings-background">

    <div class="settings-panel">

        <h1 class="settings-title">Settings</h1>
        <p class="settings-intro">
            Adjust your preferences below.
        </p>


        <form method="post">

            <div class="mb-2">
                <input asp-for="UserSettings.Name"
                       class="form-control settings-input"
                       placeholder="Name" />
            </div>


            <select asp-for="UserSettings.YearOfBirth"
                    asp-items="Model.YearOptions"
                    class="form-control activities-input">
                <option value="">Year of Birth</option>
            </select>

            <span asp-validation-for="UserSettings.YearOfBirth" class="text-danger"></span>


            <button type="submit" class="settings-btn">
                Save Settings
            </button>

        </form>

    </div>

</div>



@section Styles {
    <link rel="stylesheet" href="~/css/settings.css" />
}