
.layout-content {
    padding: 0;
    background: transparent;
}

    .layout-content > main {
        padding: 0;
    }

/* Ingen footer på sidan (annars puttar den ner sidan) */
.layout-footer {
    display: none;
}





.index-background {
    height: 100vh;
    width: 100%;
    background-image: url("/images/dashboardpic.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 32px;
}

#activity-calendar {
    width: 300px; /* or any width you prefer */
    margin: 0 auto; /* CENTER the anchor */
}

.activity-day {
    background-color: green !important;
    color: white !important;
    border-radius: 50% !important;
}

.calendar-size {
    width: 25vw;
    height: 50vh;
    background: rgba(252, 248, 235, 0.96);
    border-radius: 20px;
    padding: 20px 24px 24px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
    font-size: 14px;
    border-top: 4px solid #F27F31;
}

.activities-panel {
    width: 25vw;
    /* height: 50vh; */
    min-width: 200px;
    min-height: fit-content;

}

.calendar-panel {
    text-align: center;
    align-content: center;
    background: transparent;
    color: black;
}

.datepicker {
    transform: scale(1.5);
    transform-origin: top left;
    align-content: center;
}

.trainingstats-panel {
    width: 30%;
    max-width: 1000px;
    background: rgba(252, 248, 235, 0.96);
    border-radius: 20px;
    padding: 20px 24px 24px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
    font-size: 14px;
    border-top: 4px solid #F27F31;
}
