
.layout-content {
    padding: 0;
    background: transparent;
}

    .layout-content > main {
        padding: 0;
    }

/* Ingen footer på sidan (annars puttar den ner sidan) */
.layout-footer {
    display: none;
}





.index-background {
    height: 100vh;
    width: 100%;
    background-image: url("/images/dashboardpic.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 32px;
}
