
.layout-content {
    padding: 0;
    background: transparent;
}

    .layout-content > main {
        padding: 0;
    }

/* Ingen footer på sidan (annars puttar den ner sidan) */
.layout-footer {
    display: none;
}





.settings-background {
    height: 100vh;
    width: 100%;
    background-image: url("/images/settingspic.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 32px;
}


.settings-panel {
    width: 100%;
    max-width: 1000px;
    background: rgba(252, 248, 235, 0.96);
    border-radius: 20px;
    padding: 20px 24px 24px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
    font-size: 14px;
    border-top: 4px solid #F27F31;
}


.settings-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #020617;
}


.settings-intro {
    margin-bottom: 16px;
    font-size: 14px;
    color: #6b7280;
}

.settings-btn {
    display: inline-block;
    margin-top: 4px;
    padding: 7px 26px;
    font-size: 15px;
    font-weight: 500;
    background-color: #F27F31;
    border: 1px solid #F27F31;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

    .settings-btn:hover {
        background-color: #E06F22;
        border-color: #E06F22;
    }