@using Microsoft.AspNetCore.Identity
@using TrainingTrackerAPI.Models
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrainingTracker</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/superhero/bootstrap.min.css" rel="stylesheet">
    @*  Så att man kan använda bootstrap ikoner *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrainingTracker.styles.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>


@* Jag tog bort headern och la in en sidomeny istället  *@

<body>

    <div class="layout">

        @* Menyn på vänstra sidan *@
        <div class="layout-sidebar">

            <div class="sidebar-logo">
                <img src="~/images/tti.png" alt="TrainingTracker Logo" class="sidebar-logo-image" />
            </div>


            <a class="sidebar-link" asp-page="/Index">
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>

            <a class="sidebar-link" asp-page="/Activities">
                <i class="bi bi-list-check"></i>
                <span>Activities</span>
            </a>

            <a class="sidebar-link" asp-page="/Import">
                <i class="bi bi-upload"></i>
                <span>Import</span>
            </a>

            <a class="sidebar-link" asp-page="/Settings">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
            </a>

            @if (SignInManager.IsSignedIn(User))
            {
                <a class="sidebar-link" asp-area="Identity" asp-page="/Account/Logout">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Logout</span>
                </a>
            }
            else
            {
                <a class="sidebar-link" asp-area="Identity" asp-page="/Account/Login">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Login</span>
                </a>
            }

        </div>

         <div class="layout-content">
             <main role="main">
                 @RenderBody()
             </main>

           
         </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

